{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt=""> 
            <h1 class="sitename">FriendsForMatibi</h1> <span>.</span>
          </a>
    
          <nav id="navmenu" class="navmenu">
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="#" class="active">About</a></li>
              <li class="dropdown"><a href="#"><span>Projects</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
              <li><a href="{% url 'runningprojects' %}">Ongoing Projects</a></li>
              <li><a href="{% url 'projectstofund' %}">Projects To Fund</a></li>
              <li><a href="{% url 'completedprojects' %}">Completed Projects</a></li>
            </ul>
              </li>
              <li><a href="{% url 'news' %}">News</a></li>
              <li><a href="{% url 'nookhubactivities' %}">Nook Hub</a></li>
              <li><a data-bs-toggle="modal" data-bs-target="#ModalForm" class="active">Become a Member</a></li>
            </ul>
            
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
    
        </div>
      </header>
{% endblock header %}

{% block page_content %}
    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url('{% static 'assets/img/hero-carousel/hero-carousel-3.jpg' %}');">
      <div class="container position-relative">
        <h1>ABOUT US</h1>
      </div>
    </div><!-- End Page Title -->

        <!-- Contact Section -->
        <section id="contact" class="contact section">
    
          <div class="container" data-aos="fade-up" data-aos-delay="100">
    
            <div class="row gy-4">
    
              <div class="col-lg-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Friends for Matibi, 6000 Lucerne, Switzerland</p>
                  <p>No 1 Zimbabwe nook hub
                    ,Murawi business center
                    ,Mwenezi
                    </p>
                </div>
              </div><!-- End Info Item -->
    
              <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p></p>
                </div>
              </div><!-- End Info Item -->
    
              <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@matibi.ch</p>
                </div>
              </div><!-- End Info Item -->
    
            </div>
    
            <div class="row gy-4 mt-1">
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3729.2698362282963!2d30.51649547447143!3d-20.82080746666397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ecc152cd5b458c9%3A0x17dd8bdfda8f63fa!2sMatibi%20Nook%20Hub!5e0!3m2!1sen!2szw!4v1730755748601!5m2!1sen!2szw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div><!-- End Google Maps -->
    
              <div class="col-lg-6">
                <form action="#" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
                  <div class="row gy-4">
    
                    <div class="col-md-6">
                      <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                    </div>
    
                    <div class="col-md-6 ">
                      <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                    </div>
    
                    <div class="col-md-12">
                      <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                    </div>
    
                    <div class="col-md-12">
                      <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                    </div>
    
                    <div class="col-md-12 text-center">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
    
                      <button type="submit">Send Message</button>
                    </div>
    
                  </div>
                </form>
              </div><!-- End Contact Form -->
    
            </div>
    
          </div>
    
        </section><!-- /Contact Section -->

             <!-- Team Section -->
     <section id="team" class="team section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>.................................</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-5">
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-1.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Bak-Heang UNG</h4>
                <span>Assessor</span>
                <p>I love freedom and I believe that together we can make it happen.</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Fungai Mettler</h4>
                <span>Project-Coordinator</span>
                <p>I believe that the greatest kind of power is when you empower others.</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Graziana Muller</h4>
                <span>Actuary</span>
                <p></p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Oliver Muller</h4>
                <span>President</span>
                <p></p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-5.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Michael Zuberbuhler</h4>
                <span>Vice-president</span>
                <p></p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-6.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Sheldon Siziba</h4>
                <span>FFM Office Manager, FFM Trust</span>
                <p>I come to work and it is not work, it is passion, growth and fun.</p>
              </div>
            </div><!-- End Team Member -->
            
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-7.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Gilbert Rupere</h4>
                <span>FFM Nook Innovation Lead</span>
                <p>Innovation is made from people, people are at the heart of my work.</p>
              </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-8.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Daniel Schmidt</h4>
                <span>Cashier</span>
                <p>One does not need to borrow money to make investments in a better world.</p>
              </div>
            </div><!-- End Team Member -->
          </div>
  
        </div>
      </section><!-- /Team Section -->
{% endblock page_content %}