{% extends 'sitebase.html' %}
{% load static %}

{% block header %}
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <h1 class="sitename">FriendsForMatibi</h1> <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'friendsformatibi:home' %}">Home</a></li>
          <li><a href="{% url 'friendsformatibi:about' %}">About</a></li>
          <li class="dropdown"><a href="#"><span>Projects</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'friendsformatibi:runningprojects' %}">Ongoing Projects</a></li>
              <li><a href="{% url 'friendsformatibi:projectstofund' %}">Projects To Fund</a></li>
              <li><a href="{% url 'friendsformatibi:completedprojects' %}">Completed Projects</a></li>
            </ul>
          </li>
          <li><a href="{% url 'matibisiteblog:news' %}" class="active">News</a></li>
          <li><a href="{% url 'matibisiteblog:nookhubactivities' %}">Nook Hub</a></li>
          <li><a data-bs-toggle="modal" data-bs-target="#ModalForm" class="active">Become a Member</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
{% endblock header %}



      {% block page_content %}
    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url('{% static 'assets/img/hero-carousel/hero-carousel-3.jpg'%}');">
      <div class="container position-relative">
        <h1>News</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">

      <!-- Blog Posts-->

        <div class="container">
        <div class="row gy-4">

          <div class="col-lg-4">

              {% for news in news_posts %}
            <article class="position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="#" class="img-fluid" alt="">
                <span class="post-date">{{ news.created_on}}</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{ news.title}}</h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">{{ news.author }}</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2"></span>
                  </div>
                </div>

                <hr>
                    <p> {{ news.content|slice:":200" }}</p>

                <hr>

                <a href="{% url 'matibisiteblog:news_details' %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </article>
              {% endfor %}


          </div><!-- End post list item -->
        <!--/Post items-->

        </div>
      </div>

    </section><!-- /Blog Posts Section -->

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

      <div class="container">
        <div class="d-flex justify-content-center">
          <ul>
            <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="active">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>...</li>
            <li><a href="#">10</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>

    </section><!-- /Blog Pagination Section -->

 {% endblock page_content%}